local/
target/
.idea/
.project
.settings/
.classpath
**/.DS_Store
*.fpr
npm-debug.log
*.av
*.sh
*.log
visual_ext_index.html
/webapp/visual_ext_index.html
UIAdaptation_index.html
changes_preview.js
mock_preview_sapui5.html
.*/mock_preview_sapui5.html
sap-ui-cachebuster-info.json
extended_runnable_file.html
.*/extended_runnable_file.html
.springBeans
.*/*.iml
node/
node_modules/
createDDL.jdbc
**/bin
/service/src/gen/
service/src/gen/
.mta/
*.mta
manifest-d*.yml
*.iml
fioriHtmlRunner.html
.*/fioriHtmlRunner.html